.container {
    background-color: antiquewhite;
}
.introduction {
    background-color: rgba(153, 238, 196, 0.849);
}
.gallery_thumb {
    width: 250px;
    object-fit: cover;
}

h1 {
    color: red;
  }
  