---
---

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <nav>
            <a href="{{ site.baseurl }}/">Gallery</a>
            <a href="{{ site.baseurl }}/about">About</a>
            <a href="{{ site.baseurl }}/search">Search</a>
        </nav>
    </div>
    <div class="container">

        <img src = "{{ page.image-url }}" width = 500>
        <p>{{ page.title }} </p>
        <p>{{ page.l1 }}</p>
        <p>{{ page.l2 }}</p>
        <p>{{ page.l3 }}</p>
        <p>{{ page.l4 }}</p>
        <p>{{ page.l5 }}</p>
        <p>{{ page.l6 }}</p>
        <p>{{ page.l7 }}</p>
    </div>
</body>
