---
---

<head>
    <meta chatset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="container">
        <nav>
            <a href="{{ site.baseurl }}/">Gallery</a>
            <a href="{{ site.baseurl }}/about">About</a>
            <a href="{{ site.baseurl }}/search">Search</a>
        </nav>
    </div>
    <div class="introduction">
        <h1 id = "index-heading">Chinese Mianshi Gallery</h1>
        <h3 id = "index-heading3">An online archive that introduces the characteristics and history of Mianshi (pasta foods) from 7 regions of China.</h3>
    </div>
    
    <div class="container">
        {{ content }}
    </div>
</body>
